{{ define "hc-article-items" }}
<ul class="hc-article-list">
    {{ range .Articles }}
    <li><a href="/hc/{{ $.Slug }}/{{ $.Locale }}/articles/{{ .Slug }}">{{ template "hc-doc-icon" }}{{ .Title }}{{ template "hc-arrow-icon" }}</a></li>
    {{ end }}
</ul>
{{ end }}

{{ define "help-collection" }}
{{ template "hc-header" . }}

<nav class="hc-breadcrumb" aria-label="Breadcrumb">
    <a href="/hc/{{ .Data.HelpCenter.Slug }}/{{ .Data.HelpCenter.CurrentLocale }}">{{ .Data.HelpCenter.Name }}</a>
    <span class="hc-sep">/</span>
    <span class="hc-current">{{ .Data.Collection.Name }}</span>
</nav>

<header class="hc-collection-head">
    <h1>{{ .Data.Collection.Name }}</h1>
    {{ if .Data.Collection.Description }}<p class="hc-desc">{{ .Data.Collection.Description }}</p>{{ end }}
</header>

{{ if .Data.Collection.Articles }}
<div class="hc-article-panel">
    {{ template "hc-article-items" (map "Articles" .Data.Collection.Articles "Slug" .Data.HelpCenter.Slug "Locale" .Data.HelpCenter.CurrentLocale) }}
</div>
{{ end }}

{{ range .Data.Collection.Children }}
<section class="hc-collection-block">
    <a class="hc-block-head" href="/hc/{{ $.Data.HelpCenter.Slug }}/{{ $.Data.HelpCenter.CurrentLocale }}/collections/{{ .Slug }}">{{ .Name }}</a>
    {{ if .Description }}<p class="hc-block-desc">{{ .Description }}</p>{{ end }}
    {{ if .Articles }}{{ template "hc-article-items" (map "Articles" .Articles "Slug" $.Data.HelpCenter.Slug "Locale" $.Data.HelpCenter.CurrentLocale) }}{{ end }}
    {{ range .Children }}
    <div class="hc-block-sub">
        <a class="hc-block-subhead" href="/hc/{{ $.Data.HelpCenter.Slug }}/{{ $.Data.HelpCenter.CurrentLocale }}/collections/{{ .Slug }}">{{ .Name }}</a>
        {{ if .Articles }}{{ template "hc-article-items" (map "Articles" .Articles "Slug" $.Data.HelpCenter.Slug "Locale" $.Data.HelpCenter.CurrentLocale) }}{{ end }}
    </div>
    {{ end }}
</section>
{{ end }}

{{ if and (not .Data.Collection.Articles) (not .Data.Collection.Children) }}
<p class="hc-empty">{{ L.T "helpCenter.noArticles" }}</p>
{{ end }}

{{ template "hc-footer" . }}
{{ end }}
